html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

body {
    display: flex;
    margin: 0;
}

main {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: sticky;
    top: 0px;
    width: 20%;
    height: 100vh;
    padding-right: 20px;
    background: rgb(23, 7, 167)
}

nav > header {
    height: 80px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    border-bottom: 5px solid #fcf9f9;
    font-size: 32px; 
    padding: 5px 20px;
    color: white;
}

object {
    margin-right: 10px;
}

#doc {
    margin-left: 20px;
}

nav a {
    display: block;
    width: 100%;
    padding: 12px 0 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color:rgb(23, 7, 167);
    background: white;
}

a:last-child {
    border: none;
}

a:first-child {
    margin-top: 50px !important;
}

@media (max-width: 1000px) {
    nav {
        min-width: 200px;
    }
}

.main-section > header {
    margin: 10px 20px 0 50px;
    padding: 10px;
    font-size: 28px;
    color: white;
    background:rgb(23, 7, 167);
    border-radius: 10px;
    justify-content: center;
}

.main-section > header:first-child {
    padding-top: 20px !important;
}

.main-section > p, .main-section > ul {
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.4;
}

.main-section > ul {
    margin-left: 60px;
    font-size: 18px;
    line-height: 1.4;
} 


.main-section li {
    margin-bottom: 20px; 
}

.mainsection code {
    margin: 10px;
}
.main-section div {
    margin-left: 50px;
    margin-right: 20px;
    padding: 10px;
    background:rgb(207, 204, 238);
    border-radius: 5px;
}

#Data_Types, #While_Statements, #Global_Variables {
    margin-top: 25px;
}

.data-types li:not(:first-child):not(:last-child) {
    margin-left: 30px;
    list-style-type: circle;
}